node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Java / Android
*.class
*.jar
*.apk
*.ap_

# Android local config
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/.idea/

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace

# Misc
.DS_Store
*.pem
